.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
  }

  main input[type="email"]{
       display: block;
       margin: auto;
       height: 40px;
       width: 26%;
       padding-left: 10px;
      
  }
  main input[type="submit"]{
    margin-top: 15px;
   height: 40px;
   width: 8%;
   background-color: deeppink;
   color: antiquewhite;
   border: none;
   border-radius: 10px;
       }
  

  .container{
    text-align: center;
    margin: auto;
    height: 300px;
    background-color:rgb(237, 210, 214);
  }
  h1{
  padding-top: 40px;
  }
  p{
    text-align: center;
  }
